html{
    font-size: 20px;
    padding: 20;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 20px;
    background-color: #C4C4C4;
}

nav input{
    display: none;

}

@media only screen and (min-device-width: 834px){
    /* aparece label */
    label{
        display: block;
        display: flex;
        flex-direction: column-reverse;
    }
    /* desaparece ul */
    ul{
        display: none;
        list-style-type: none;
    }
}

input:checked + ul{
    display: block;
    width: 50vw;
    height: 40vh;
    background-color: whitesmoke;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 5.5vh;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-device-width: 834px){
    /* desaparece el label */
    label{
        display: none;
    }
    /* aparece ul */
    ul{
        display: flex;
        width: 50vw;
    }

}

input:checked + ul{
    display: block;
    display: flex;
    align-items: flex-end;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav__inicio{
    padding: 0 0 40px 0;
}

.nav__proyectos{
    padding: 0 0 40px 0;
}

.nav__quienes{
    padding: 0 0 40px 0;
}

.nav__contactar{
    padding: 0 0 40px 0;
}